/*body {
    background-color: #1E1E2E;
    margin: 0%;
  }

  .card_container {
    border-radius: 5px;
    background-color: #27293D;
    box-shadow: 2px 2px 2px #27293D;
  }

  .has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: white;
  }*/
